<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Buster - Edit Schedule</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{../assets/css/main.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:include="fragments/mainmenu" />
        
        <div class="container">
            <h2>Build Logs</h2>
            
            <h3>Build Summary</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Build Name</th>
                        <th>Build ID</th>
                        <th>Build Version</th>
                        <th>Build Date</th>
                        <th>Build State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span th:text="${build.buildName}"></span>
                        </td>
                        <td>
                            <span th:text="${build.buildId}"></span>
                        </td>
                        <td>
                            <span th:text="${build.buildVersion}"></span>
                        </td>
                        <td>
                            <span th:text="${build.buildDate}"></span>
                        </td>
                        <td>
                            <span th:text="${build.buildState}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <h3>Build Logs</h3>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date</th>
                        <th>Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="buildLog : ${buildLogs}">
                        <td><span th:text="${buildLog.logUid}"></span></td>
                        <td><span th:text="${buildLog.logDate}"></span></td>
                        <td><span th:text="${buildLog.buildNewState}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
