<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AirDrop - Home</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{assets/css/main.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <div th:include="fragments/mainmenu" />
        
        <div class="container">
            <h2>Eagle6 Builds</h2>
            
            <table class="table">
              <thead>
                <tr>
                  <th>Build</th>
                  <th>Result</th>
                  <th>Environment</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th>Approved By</th>
                  <th>Scheduled Deployment</th>
                </tr>
              </thead>
              <tbody>
                <!-- TODO -->
                <!-- This needs to be an iterator for DB results -->
                <tr th:each="build : ${builds}">
                    <td><span th:text="${build.}"></span></td>
                    <td><span th:text=""></span></td>
                    <td><span th:text=""></span></td>
                    <td><span th:text=""></span></td>
                    <td><a href="/deployments/scheduleDeployment">Schedule QA</a></td>
                    <td>testep</td>
                    <td></td>
                </tr>
              </tbody>
            </table>
        </div>
    </body>
</html>
